
.icon-plus{background-image:url(icons/fam/add.png)!important;}
.icon-minus{background-image:url(icons/fam/delete.gif)!important;height: 16px;width: 16px;}
.icon-run{background-image:url(icons/fam/application_go.png)!important;}
.icon-info{background-image:url(icons/fam/information.png)!important;}
