
/*desktop manager icon css start*/
.userRole-shortcut img {
  width: 48px;
  height: 48px;
  background-image: url(icons/userRoleManager_48.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../styles/default/desktop/icons/userRoleManager_48.png', sizingMethod='scale');
}

.configuration-shortcut img {
  width: 48px;
  height: 48px;
  background-image: url(icons/configurationManager_48.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../styles/default/desktop/icons/configurationManager_48.png', sizingMethod='scale');
}
.merchant-shortcut img {
  width: 48px;
  height: 48px;
  background-image: url(icons/merchantManager_48.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../styles/default/desktop/icons/configurationManager_48.png', sizingMethod='scale');
}


.icon-userRole{
  background-image: url(icons/icon_userRole.png) !important;
  width: 16px;
  height: 16px;
}
.icon-configuration{
  background-image: url(icons/icon_configuration.png) !important;
  width: 16px;
  height: 16px;
}
.icon-merchant{
  background-image: url(icons/icon_merchant.png) !important;
  width: 16px;
  height: 16px;
}
/*desktop manager icon css end*/



.required-filed-mark{
  color: #ff0000;
  font-weight: bold;
}

.qtip-wrap {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  white-space: normal;
}

/*grid row colors css start*/
.deleted-row .x-grid-cell-inner {
  color: gray;
}

.disabled-row .x-grid-cell-inner {
  color: darkgray;
}
.published-row .x-grid-cell-inner {
  color: blue;
}
.retired-row .x-grid-cell-inner {
  color: orangered;
}
/*grid row colors css end*/




/*icons css start*/
.icon-copy {
  background-image: url(icons/icon_copy.png) !important;
  height: 16px;
  width: 16px;
}
.icon-enable {
  background-image: url(icons/icon_enable.png) !important;
  height: 16px;
  width: 16px;
}
.icon-disable {
  background-image: url(icons/icon_disable.png) !important;
  height: 16px;
  width: 16px;
}
.icon-publish {
  background-image: url(icons/icon_publish.png) !important;
  height: 16px;
  width: 16px;
}
.icon-unpublish {
  background-image: url(icons/icon_unpublish.png) !important;
  height: 16px;
  width: 16px;
}
/*icons css end*/